<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> 購買流程</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">@Html.ActionLink("領養列表","Index")</li>
        <li class="list-group-item"><a href="#">尋找新主人</a></li>
        <li class="list-group-item"><a href="#">我想領養</a></li>
        <li class="list-group-item"><a href="#">領養管理</a></li>
        <li class="list-group-item"><a href="#">心願管理</a></li>
    </ul>
</div>

