@model CaptainMao.Areas.Article.Models.BoardViewModel

@{
    ViewBag.Title = "討論區";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <!-------------------articleOpen------------------->
    <div>
        <!--顏色請自己放在Css內 這只是樣板-->

        <div style="height:70px;background-color:#fff266" class="drawingpin">
            <div class="navbar-left">
                @Html.ActionLink("主版", "Board", null, new { @class = "btn btn-info" })
                @Html.ActionLink("文章列表","Index",null,new { @class="btn btn-info"})
            </div>
        </div>
        <div style="background-color:burlywood" class="drawingpin">
            <h2>高人氣文章</h2>
            <div class="row">
                @foreach (var item in Model.article)
                {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img style="width:100px" src="~/images/catdog.png" />
                            <div class="caption">
                                <h4>[@Html.DisplayFor(a => item.TitleCategories.TitleCategoryName)]@Html.DisplayFor(a => item.Title)</h4>
                                @*<p>@Html.Raw(HttpUtility.HtmlDecode(item.ContentText))</p>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>