
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->

    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <!-------------------articleOpen------------------->
    <div style="height:900px;">
        <div style="height:700px;background-color:#fff266">


        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>


