@{ 
    Layout = null;
}
<link href="~/Content/jqcloud.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jqcloud-1.0.4.min.js"></script>
<style>
    #demo {
        width: 80%;
    }
</style>

<script>
    $(function () {
        var words = [
         { text: "哈哈哈哈", weight: 60 },
         { text: "Ipsum", weight: 19 },
         { text: "Dolor", weight: 18 },
         { text: "Sit",  weight:17},
        { text: "Amet",  weight:16},
         { text: "Consectetur", weight: 15},
         { text: "Adipiscing", weight: 14},
         { text: "dsfsf", weight: 13},
         { text: "Ipsdfsum",  weight:12},
         { text: "Dosdfsdflor", weight: 11},
         { text: "台灣",  weight:10},
         { text: "Ipsum", weight: 9},
         { text: "Dolor", weight: 8},
         { text: "Sit", weight: 7},
         { text: "Amet", weight: 6},
         { text: "Consectetur", weight: 5},
         { text: "Adipiscing", weight: 4 },
        ];
        $('.demo').jQCloud(words, {
            width: 300,
            height: 300,
            autoResize: true,
            classPattern:null,
            steps: 50,
            colors: ["#CC0066", "#CC0066", "#009999", "#009999", "#FFCC33", "#FFCC33", "#0099CC", "#0099CC", "#FF6666", "#FF6666",
              "#FF33CC", "#FF33CC", "#FF6600", "#FF6600", "#009966", "#009966", "#CC6633", "#CC6633", "#FF6666", "#FF6666",
              "#555555", "#555555", "#555555", "#555555", "#555555", "#444444", "#444444", "#444444", "#444444", "#444444",
              "#666633", "#666633", "#666633", "#666633", "#666699", "#666666", "#666666", "#666666", "#666666", "#666666",
              "#333333", "#333333", "#333333", "#333333", "#333333", "#999999", "#999999", "#999999", "#999999", "#999999"
            ],
            fontSize: {
                from: 0.08,
                to: 0.02
            }
        });
});
</script>


<body>
    <div class="demo" style="border:thin solid black">

    </div>
</body>
