<div class="panel panel-primary">
    <div class="panel-heading">
        訂購流程
    </div>
    <ul id="JsonTypes" class="list-group">
        <li class="list-group-item">
            @Html.ActionLink("商品確認", "index")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("送貨地點", "index")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("訂單成立", "Create")
        </li>
    </ul>

</div>