<div class="panel panel-primary">
    <div class="panel-heading">
        訂購流程
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="gotodiv1()">商品確認</a>
            
        </li>
        <li class="list-group-item">
            <a ng-click="gotodiv2()">送貨地點</a>
            
        </li>
        <li class="list-group-item">
            <a ng-click="gotodiv3()">訂單成立</a>
        </li>
    </ul>

</div>