aside {
  position: relative;
}
aside #firstpane p {
  position: relative;
  border-radius: 0px;
  margin: 0px;
}
aside #firstpane p a {
  color: aliceblue;
}
aside #firstpane p span {
  position: absolute;
  top: 15px;
  right: 0px;
}
aside #firstpane div {
  text-align: center;
  display: none;
}
aside #sTypeArea {
  position: absolute;
  z-index: 5;
  width: 160px;
  background-color: #e2a87e;
  border: 2px solid #000000;
  border-radius: 5px;
  display: none;
  left: 145px;
}
article div div {
  background-color: #fff266;
}
