aside {
  position: relative;
}
aside #firstpane p {
  position: relative;
  border-radius: 0px;
  margin: 0px;
}
aside #firstpane p a {
  color: aliceblue;
}
aside #firstpane p span {
  position: absolute;
  top: 15px;
  right: 0px;
}
aside #firstpane div {
  text-align: center;
  display: none;
}
aside #sTypeArea {
  position: absolute;
  z-index: 5;
  width: 160px;
  background-color: #e2a87e;
  border: 2px groove #000000;
  border-radius: 5px;
  display: none;
  left: 145px;
}
@media screen and (max-width: 980px) {
  aside #sTypeArea {
    left: 130px;
  }
}
article div div {
  background: rgba(255, 230, 33, 0.98);
  /* Old browsers */
  overflow: hidden;
  text-overflow: ellipsis;
}
article div div thead {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
  background: #959595;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#959595', endColorstr='#1b1b1b', GradientType=0);
  /* IE6-9 */
}
#example {
  text-overflow: ellipsis;
}
#hw4 {
  position: relative;
  margin-bottom: 10px;
}
#hw4 figure {
  position: absolute;
  height: 40vh;
  width: 100%;
  top: 10px;
  position: relative;
  border-radius: 30px;
  margin: auto;
}
#aaction {
  height: 100px;
  width: 100px;
  background-image: url("/Areas/buy/images/go.png");
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 25;
  display: block;
  cursor: pointer;
}
#hw4 a {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 5%;
  line-height: 40vh;
  position: absolute;
  display: block;
  border-radius: 30px 0 0 30px;
  color: rgba(200, 200, 200, 0.7);
  text-align: center;
  font-size: 100px;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-size: 77vw 80vh;
  background-repeat: no-repeat;
  cursor: pointer;
}
#hw4 a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#hw4 a:nth-child(2) {
  right: 0;
  border-radius: 0 30px 30px 0;
  background-position: right;
}
#hw4 h3 {
  display: inline-block;
}
#hw4_image {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
#hw4 figcaption {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 10%;
}
#hw4_image2 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 50;
}
#hw4 figcaption span {
  float: left;
  margin-left: 5px;
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  cursor: pointer;
}
