@using CaptainMao.Areas.buy.Models

<div class="panel panel-primary">
    <div class="panel-heading">
        我的商店
    </div>
    <ul id="JsonTypes" class="list-group">
        <li class="list-group-item">
            @Html.ActionLink("商店資訊", "index")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("商品總覽", "index")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("商品上架", "Create")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("訂單通知", "NewOrder")
        </li>
    </ul>

</div>