@*@model CaptainMao.Areas.Hodpital.Models.ViewModel.HospitalModel*@


@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

<script>

    function checkForm() {
        var SaveCategory;
        for (var i = 1; i < 6; i++) {
            var one = document.getElementById('Category'+i);
            if (one.checked) {
                document.getElementById("CategoryList").value += i +"|";
            }            
        }
    }
</script>


<!--aside側欄 article主欄-->

<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")

    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <!-------------------articleOpen------------------->
    <div>
        <!--顏色請自己放在Css內 這只是樣板-->
        <div style="height:750px;background-color:#fff266" class="drawingpin">
            <h2>新增醫院</h2>
            <form method="post" action="~/HospitalCRUD/CreatHospital" class="form-horizontal" onsubmit="return checkForm(this);">
                @*<div class="form-group" style="display:none">
                        <label for="HospitalID" class="col-sm-2 control-label ">醫院編號</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="HospitalID" value="@Model.HospitalID" />
                        </div>
                    </div>*@
                <div class="form-group">
                    <label for="HospitalName"
                           class="col-sm-2 control-label">醫院名稱</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="HospitalName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="HospitalAddress"
                           class="col-sm-2 control-label">醫院地址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="HospitalAddress" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="AddressArea"
                           class="col-sm-2 control-label">醫院區域</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("AddressArea", (IEnumerable<SelectListItem>)@ViewBag.HospitalCity)
                    </div>
                </div>
                <div class="form-group">
                    <label for="HospitalPhone"
                           class="col-sm-2 control-label">醫院電話</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="HospitalPhone" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="PetRace"
                           class="col-sm-2 control-label">寵物種類</label>
                    <div class="col-sm-10">
                        <fieldset>
                            <input type="checkbox" value="1" id="Category1" name="Category1" />狗
                            <input type="checkbox" value="2" id="Category2" name="Category2" />貓
                            <input type="checkbox" value="3" id="Category3" name="Category3" />鳥
                            <input type="checkbox" value="4" id="Category4" name="Category4" />兔
                            <input type="checkbox" value="5" id="Category5" name="Category5" />鼠
                            <input type="checkbox" value="6" id="Category6" name="Category6" />綜合
                        </fieldset>

                    </div>
                    <input type="hidden" id="CategoryList" name="CategoryList" />
                </div>
                <div class="form-group">
                    <label for="BusinessHours"
                           class="col-sm-2 control-label">營業時間</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="BusinessHours" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Emergency"
                           class="col-sm-2 control-label">急診時間</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Emergency" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="OutpatientProject"
                           class="col-sm-2 control-label">專業科目</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="OutpatientProject" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Equipment"
                           class="col-sm-2 control-label">醫院設備</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Equipment" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="WebAddress"
                           class="col-sm-2 control-label">醫院網址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="WebAddress" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="OnlineConsultation"
                           class="col-sm-2 control-label">線上問診</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="OnlineConsultation" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="OnView"
                           class="col-sm-2 control-label">OnView</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="OnView" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">新增</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <!-------------------articleEnd------------------->
</article>





