@*@model CaptainMao.Areas.Hospital.Models.ViewModel.HospitalModel*@
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>

<link rel="stylesheet" type="text/css" src="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

    function SelectThis() {
        var clicktbn = $('#HospitalCity').val();
        var clicktbnRace = $('#HospitalPetRace').val();

        $.ajax({
            url: "/Hospital/HospitalCRUD/_HospitalSearchCity",
            type: "POST",
            data: { 'CityID': clicktbn, 'CategoryID': clicktbnRace },
            dataType: "text",
            traditional: true,
            success: function (data) {
                $('#_HospitalCity').load("/Hospital/HospitalCRUD/_HospitalSearchCity", { "CityID": clicktbn, 'CategoryID': clicktbnRace });//路徑增加Hospital
            },
            error: function (XMLHttpRequest) {
                alert(XMLHttpRequest.responseText);
            }
        });
    }

</script>

<div>
    <aside class="col-lg-1 col-lg-offset-1 col-sm-1">
        <!-------------------asideOpen------------------->
        @Html.Partial("Aside")
        <!-------------------asideEnd------------------->
    </aside>
    <article class="col-lg-9 col-sm-11">
        <!-------------------articleOpen------------------->
        <div>
            <!--顏色請自己放在Css內 這只是樣板-->
            <div style="height:auto;background-color:#fff266" class="drawingpin" id="ShowMePlease" name="ShowMePlease">
                <div><input id="" type="button" value="查詢所有" onclick="" /></div>
                <div>
                    @Html.DropDownList("HospitalCity", (IEnumerable<SelectListItem>)ViewBag.HospitalCity)
                    @Html.DropDownList("HospitalPetRace", (IEnumerable<SelectListItem>)ViewBag.HospitalPetRace)
                    <input type="text" />
                    <input id="" type="button" value="搜尋" onclick="SelectThis()" />
                </div>
                <h2>醫院資料</h2>
                <div id="_HospitalCity" name="_HospitalCity"></div>
            </div>
            <div style="height:950px;background-color:burlywood" class="drawingpin">
                <div id="_HospitalUPDate" name="_HospitalUPDate"></div>
             
            </div>
        </div>
    </article>
</div>
<!-------------------articleEnd------------------->
 