<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> 會員種類</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">一般會員</a></li>
        <li class="list-group-item"><a href="#">商店會員</a></li>
        <li class="list-group-item"><a href="#"></a></li>
        <li class="list-group-item"><a href="#"></a></li>
        <li class="list-group-item"><a href="#"></a></li>
    </ul>
</div>
