
@{
    ViewBag.Title = "Main";
}

<!--aside側欄 article主欄-->

<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <!-------------------articleOpen------------------->
    <div><!--顏色請自己放在Css內 這只是樣板-->
        <div style="height:700px;background-color:#fff266" class="drawingpin">

        </div>
        <div style="height:500px;background-color:burlywood" class="drawingpin">

        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>




