.drawingpin:nth-child(6n+1) {
  border-radius: 0px 0px 15px 20px;
}
.drawingpin:nth-child(6n+2) {
  border-radius: 0px 0px 0px 0px;
  background-image: url("../images/drawingpin2.png");
}
.drawingpin:nth-child(6n+3) {
  border-radius: 0px 0px 10px 15px;
  background-image: url("../images/drawingpin3.png");
}
.drawingpin:nth-child(6n+4) {
  border-radius: 0px 0px 0px 5px;
  background-image: url("../images/drawingpin5.png");
}
.drawingpin:nth-child(6n+5) {
  border-radius: 0px 5px 0px 15px;
  background-image: url("../images/drawingpin4.png");
}
