

    .homepage-hero-module {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

        .homepage-hero-module .filter {
            z-index: 100;
            position: absolute;
            filter: grayscale(50%);
            width: 150px;
            height: 150px;
            top: 80%;
            line-height: 150px;
            color: white;
            font-size: 5em;
            text-align: center;
            border-radius: 150px;
            transition: 1.5s;
            display:block;
        }

            .homepage-hero-module .filter img {
                border-radius: 100px;
                transition: 5s;
            }
img:first-child {
    height: 200px;
    margin-bottom:10px;
}
        .homepage-hero-module .filter > div:nth-child(2) {
            height: 80vh;
        }

            .homepage-hero-module .filter:hover {
                filter: grayscale(0%);
                top: 0%;
            }

        .homepage-hero-module video {
            position: absolute;
            z-index: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }

    .card {
        width: 100vw;
        height: 15%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f0201+0,edebd0+100&1+61,0+80 */
        background: -moz-linear-gradient(45deg, rgba(15,2,1,1) 0%, rgba(150,144,127,1) 61%, rgba(192,188,166,0) 80%, rgba(237,235,208,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(15,2,1,1) 0%,rgba(150,144,127,1) 61%,rgba(192,188,166,0) 80%,rgba(237,235,208,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(15,2,1,1) 0%,rgba(150,144,127,1) 61%,rgba(192,188,166,0) 80%,rgba(237,235,208,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0201', endColorstr='#00edebd0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        position: relative;
        
    }

        .card > div {
            /*background-color: rgba(6, 148, 109, 0.44);*/
            position: absolute;
            transition: 1s linear;
            /*transform: rotate(45deg);*/
            /*transform-origin: 10% 20%;*/
            height: 100%;
            width: 0%;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#213ea8+0,0023a5+2,24ad62+100&1+66,0+78,0+100 */
            background: -moz-linear-gradient(45deg, rgba(33,62,168,1) 0%, rgba(0,35,165,1) 2%, rgba(24,125,121,1) 66%, rgba(28,142,113,0) 78%, rgba(36,173,98,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, rgba(33,62,168,1) 0%,rgba(0,35,165,1) 2%,rgba(24,125,121,1) 66%,rgba(28,142,113,0) 78%,rgba(36,173,98,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, rgba(33,62,168,1) 0%,rgba(0,35,165,1) 2%,rgba(24,125,121,1) 66%,rgba(28,142,113,0) 78%,rgba(36,173,98,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213ea8', endColorstr='#0024ad62',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }

        .card > img {
            height: 10vh;
            width: 10vh;
            background-color: azure;
            border-radius: 30px;
            position: absolute;
            left: 5%;
            top: 10px;
            z-index: 50;
        }

        .card > h2 {
            color: #ffffff;
            position: absolute;
            left: 20%;
            top:0px;
        }

        .card > h3 {
            color: #ffffff;
            font-size: 0.3em;
            position: absolute;
            bottom: 0px;
            left: 45%;
        }


@media screen and (min-width: 768px) {
    .card > h2 {
        left: 40%;
    }
    .card > h3 {
        bottom:10px;
    }
        .card {
        width: 30vw;
    }
        .card:nth-child(2) {
        width: 40vw;
    }

        .card:nth-child(2) > div {
            width: 35vw;
        }

    .card:nth-child(3) {
        width: 50vw;
    }

        .card:nth-child(3) > div {
            width: 40vw;
        }

    .card:nth-child(4) {
        width: 60vw;
    }

        .card:nth-child(4) > div {
            width: 50vw;
        }

    .card:nth-child(5) {
        width: 70vw;
    }

        .card:nth-child(5) > div {
            width: 60vw;
        }

    .homepage-hero-module .filter:hover {
        top:10%;
    }
}
@media screen and (min-width: 1200px) {
   


}

