
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

@section style{
    <style>
        iframe {
            width:100%;
            height:1000px;
        }
    </style>
    }

<article>
    <div>
        <iframe src='@Url.Content("~/Areas/WebForm/WebFormUser.aspx")' frameborder=0 scrolling="no"></iframe>
    </div>
</article>
