
<h2>網站使用情形監測</h2>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading col-sm-12">
            <h4>訪問者來源</h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-6">
                <script type="text/javascript" src="//ra.revolvermaps.com/0/0/7.js?i=0djzcqkcyi7&amp;m=8&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0" async="async"></script>
            </div>
            <div class="col-sm-6">
                <script type="text/javascript" src="//ra.revolvermaps.com/0/0/6.js?i=04v81fhnq20&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading col-sm-12">
            <h4>訪問者統計</h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <canvas id="myChart1" width="200" height="100"></canvas>
            </div>
            @*<div class="col-sm-4">
                <canvas id="myChart2" width="200" height="100"></canvas>
                <p>
                    <a href="http://s11.flagcounter.com/more/v3d"><img src="http://s11.flagcounter.com/count2/v3d/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
                </p>
            </div>*@
            
        </div>
    </div>
</div>
@*<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading col-sm-12">
            <h4></h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-6">
                <canvas id="myChart3" width="200" height="100"></canvas>
            </div>
            <div class="col-sm-6">
                <canvas id="myChart3" width="200" height="100"></canvas>
            </div>
        </div>
    </div>
</div>*@

      @section Script{
      <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>

    <script>
        $(document).ready(function () {

            GetReportData();

            function GetReportData() {
                $.ajax({
                    url: '@Url.Action("loginCount")',
                    type: 'POST',
                    success: function (data) {
                        //指定圖表顯示位置
                        var ctx = document.getElementById("myChart1");

                        var myChart1 = new Chart(ctx,    {
                                type: 'line',
                                data: {
                                    labels: data.loginDates,
                                    datasets: [{
                                        label: '過去30天登入人次統計',
                                        data: data.loginCounts,
                                        backgroundColor: 'rgba(32, 200, 85, 0.2)',
                                        borderColor: 'rgba(32, 200, 85,1)',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }],
                                    }
                                }
                            }

                            );
                    },
                    cache: false
                })
            }

            @*$.ajax({
                    url: '@Url.Action("personLoginCount")',
                    type: 'POST',
                    success: function (data) {
                        //指定圖表顯示位置
                        var ctx = document.getElementById("myChart2");
                        console.log(data);
                        
                    },
                    cache: false
                })*@
            
        })
     

</script>
    }
