<section id="hw4">
    <figure>
        <a class="pa" id="PrePage" unselectable="on"></a>
        <a class="pa" id="NextPage" unselectable="on"></a>
        <div id="aaction">
        </div>
        <img id="hw4_image"  src="~/Areas/buy/images/image_1.jpg" />
        <figcaption>
            <img id="hw4_image2" />
            <div id="hw4_txt">
                <span id="s1"></span>
                <span id="s2"></span>
                <span id="s3"></span>
                <span id="s4"></span>
                <span id="s5"></span>
                <span id="s6"></span>
            </div>
        </figcaption>

    </figure>
</section>