@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("您好，" + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "管理帳戶"})
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" title="登出">Log Out <span class="fa fa-lg fa-sign-out"></span></a></li>
        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>*@
    </ul>
    }
}
else
{
        <li><a class="dropdown-toggle" href=@Url.Action("Login","Account") title="登入"><span class="fa fa-lg fa-user"></span><br /><br />Log In</a></li>
        <li><a class="dropdown-toggle" href=@Url.Action("Register", "Account") title="註冊"><span class="fa fa-lg fa-user-plus"></span><br /><br />Register</a></li>
}
