
@{
    ViewBag.Title = "ShowThisNote";
}

@*<h2>ShowThisNote</h2>*@
<div>
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="color:#dc6f06">評分者</th>
                <th style="color:#dc6f06">評語</th>
                <th style="color:#dc6f06">星等</th>
                <th style="color:#dc6f06">評分時間</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AspNetUser.NickName</td>
                    <td>@item.NoteValue</td>
                    <td>@item.Scorce1</td>
                    <td>@item.Date</td>
                </tr>
            }
        </tbody>
    </table>
</div>
