
@{
    ViewBag.Title = "AdoptionReport";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section style{
    <style>
        .drawingpin {
            background-color: burlywood;
        }
    </style>
}
@section script{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script>

        var CategoryName;
        var data = [];
        $(document).ready(function () {

            GetReportData();

            function GetReportData() {
                $.ajax({
                    url: '@Url.Action("GetAdoptionReport")',
                    type: 'POST',
                    //成功之後，會收到Server端返回的資料，也就是自訂的型別ReportData
                    //有兩個屬性可以用
                    success: function (datas) {
                        $.each(datas, function (idx, adp) {
                            $.each(adp, function (index, value) {
                                data.push([value.CategoryName, value.Share])
                            })
                           
                        })

                        chart.series[0].data = data;
                        $('#container').highcharts(chart);
                    },
                    cache: false
                })
            }

            var chart = {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                },
                title: {
                    text: '2017年領養寵物種類占比率'
                },
                tooltip: {
                    headerFormat: '{series.name}<br>',
                    pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '領養寵物種類占比',
                    data: []
                }]
            };
            
        });

    </script>
}

<!--aside側欄 article主欄-->

<aside class="col-sm-3 col-xs-12">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")
    <!-------------------asideEnd------------------->
</aside>

<article class="col-sm-9  col-xs-12">
    <!-------------------articleOpen------------------->
    <div>
        <div class="drawingpin">
            <div id="container" style="min-width:400px;height:700px"></div>
        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>


