
@{
    ViewBag.Title = "文章報表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section script{
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script>
        var chart;
        $(document).ready(function () {
                chart = new Highcharts.chart({
                    chart: {
                        renderTo: 'container',
                        defaultSeriesType: 'areaspline',
                        events: {
                            load: GetReportData
                        }
                    },
                    title: {
                        text: '文章發表管理'
                    },
                    xAxis: {
                        categories: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']
                    }, yAxis: {
                        title: {
                            text: '文章數量'
                        }
                    },
                    tooltip: {
                        formatter: function () {
                            return '版面:貓  ' + this.points[0].y + '<br/>版面:狗 ' + this.points[1].y;
                        },
                        shared: true,
                        crosshairs: true
                    },
                    series: [{
                        name: '貓',
                        data: [],
                        fillOpacity: 0.5
                    }, {
                        name: '狗',
                        data: [],
                        fillOpacity: 0.4
                    }]
                });
            });

        function GetReportData() {
            $.ajax({
                url: '@Url.Action("GetArticleReport")',
                type: 'POST',
                //成功之後，會收到Server端返回的資料，也就是自訂的型別ReportData
                //有兩個屬性可以用
                success: function (result) {
                    chart.series[0].setData(result.Category1);
                    chart.series[1].setData(result.Category2);
                },
                cache: false
            });
        }
    </script>
}
<aside class="col-sm-3 col-xs-12">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-sm-9  col-xs-12">
    <!-------------------articleOpen------------------->
    <div>
        <!--顏色請自己放在Css內 這只是樣板-->
        <div id="container" class="highcharts-container" style="height:700px;margin:0 2em;clear:both;min-width:700px">

        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>


