
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> 討論專區</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="@Url.Action("ArticleReport","Report")">文章報表</a></li>
        <li class="list-group-item"><a href="">領養報表</a></li>
    </ul>
</div>